{
  "name": "scss",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "main.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "main.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "_base.scss",
      "imports": [
        "base/_global.scss",
        "base/_normalize.scss",
        "base/_typography.scss"
      ]
    },
    {
      "path": "_components.scss",
      "imports": [
        "components/_accordion.scss",
        "components/_brochures.scss",
        "components/_button.scss",
        "components/_button-bar.scss",
        "components/_card.scss",
        "components/_carousel.scss",
        "components/_feature-panel.scss",
        "components/_footer.scss",
        "components/_forms.scss",
        "components/_global-navigation.scss",
        "components/_grid.scss",
        "components/_hotspots.scss",
        "components/_logo-area.scss",
        "components/_menu.scss",
        "components/_messages.scss",
        "components/_modal.scss",
        "components/_natural-language.scss",
        "components/_navbar.scss",
        "components/_rich-text.scss",
        "components/_search.scss",
        "components/_site-hero.scss",
        "components/_special-deals.scss",
        "components/_tab.scss",
        "components/_trip-tabs.scss",
        "components/_trip.scss",
        "components/_trip-inclusions.scss",
        "components/_trip-page.scss",
        "components/_trip-navigation.scss",
        "components/_trip-intro.scss",
        "components/_trip-highlights.scss",
        "components/_trip-travelandaccommodation.scss",
        "components/_trip-testimonials.scss",
        "components/_quicksearch.scss",
        "components/_booking-funnel.scss",
        "components/_quicksearch-hero.scss",
        "components/carousel/_quicksearch-hero-carousel.scss",
        "components/brochures/_brochure-listing.scss",
        "components/brochures/_featured-brochure.scss",
        "components/brochures/_brochure-modal.scss",
        "components/brochures/_brochure-request.scss",
        "components/button-bar/_button-bar.scss",
        "components/card/_trip-card.scss",
        "components/card/_expandable-card.scss",
        "components/carousel/_trip-carousel.scss",
        "components/carousel/_brochure-carousel.scss",
        "components/carousel/_gallery-carousel.scss",
        "components/carousel/_mobile-carousel.scss",
        "components/footer/_footer-accreditations.scss",
        "components/footer/_footer-bar.scss",
        "components/footer/_footer-social.scss",
        "components/forms/elements/_forms.scss",
        "components/forms/elements/_checkboxes-and-radio.scss",
        "components/forms/elements/_select.scss",
        "components/forms/_trip-search.scss",
        "components/forms/_phoenix-form.scss",
        "components/forms/_brochure.scss",
        "components/forms/_contact.scss",
        "components/forms/_events-form.scss",
        "components/forms/_newsletter-subscription.scss",
        "components/forms/_session.scss",
        "components/global-nav/_global-nav.scss",
        "components/global-nav/_global-nav-search.scss",
        "components/global-nav/_login-cta.scss",
        "components/hotspots/_hotspots.scss",
        "components/menu/_modal-menu.scss",
        "components/menu/_popup-menu.scss",
        "components/messages/_browser-warning.scss",
        "components/messages/_cookie-disclaimer.scss",
        "components/messages/_notification.scss",
        "components/modal/_modal.scss",
        "components/modal/_modal-trip-terms.scss",
        "components/modal/_modal-video.scss",
        "components/natural-language/_nl.scss",
        "components/navbar/_nav-mobile.scss",
        "components/navbar/_nav-sticky.scss",
        "components/navbar/_navbar-collapse.scss",
        "components/navbar/_navbar-explore-trips.scss",
        "components/navbar/_navbar-desktop.scss",
        "components/navbar/_navbar-desktop-dropdown.scss",
        "components/navbar/_navbar-nav.scss",
        "components/search/_site-search.scss",
        "components/search/_search-page.scss",
        "components/site-hero/_site-hero.scss",
        "components/site-hero/_homepage-hero-modal.scss",
        "components/trip/_trips.scss",
        "components/trip/_trip-card-listing.scss",
        "components/trip/_trip-finder.scss",
        "components/trip/_trip-travelandaccommodation.scss",
        "components/trip/_trip-highlights.scss",
        "components/trip/_trip-map.scss",
        "components/trip/_trip-priceandbooking.scss",
        "components/trip/_trip-quickviewbrochure.scss",
        "components/trip/_trip-similartrips.scss",
        "components/trip/_trip-print.scss",
        "components/trip/_featured-trips.scss",
        "components/trip/_trip-filter-overlay.scss",
        "components/trip/_trip-filter-form.scss",
        "components/booking-funnel/_booking-layout.scss",
        "components/booking-funnel/_booking-navigation.scss",
        "components/booking-funnel/_booking-tips-hints.scss",
        "components/booking-funnel/_booking-form.scss"
      ]
    },
    {
      "path": "_fonts.scss",
      "imports": [
        "fonts/_gotham.scss",
        "fonts/_helvetica.scss",
        "fonts/_icomoon.scss"
      ]
    },
    {
      "path": "_helpers.scss",
      "imports": [
        "helpers/_apt-common-classes.scss",
        "helpers/_backgrounds.scss",
        "helpers/_colors.scss",
        "helpers/_hr.scss",
        "helpers/_text.scss"
      ]
    },
    {
      "path": "_layout.scss",
      "imports": [
        "layout/_content.scss",
        "layout/_body.scss",
        "layout/_footer.scss",
        "layout/_header.scss"
      ]
    },
    {
      "path": "_overrides.scss",
      "imports": [
        "overrides/_owl-carousel.scss"
      ]
    },
    {
      "path": "_variables.scss",
      "imports": [
        "variables/_color.scss",
        "variables/_back-to-top.scss",
        "variables/_font.scss",
        "variables/_typography.scss",
        "variables/_button.scss",
        "variables/_footer.scss",
        "variables/_form.scss",
        "variables/_desktop.scss",
        "variables/_tablet.scss",
        "variables/_loading.scss",
        "variables/_mobile.scss",
        "variables/_navbar.scss",
        "variables/_misc.scss",
        "variables/_trip.scss",
        "variables/_video.scss",
        "variables/_logo-area.scss",
        "variables/_card.scss",
        "variables/_expanded-arrow.scss",
        "variables/_expandable-card.scss",
        "variables/_table.scss",
        "variables/_kwa.scss"
      ]
    },
    {
      "path": "_vendor.scss",
      "imports": [
        "vendor/_owl-carousel.scss"
      ]
    },
    {
      "path": "_z-index.scss",
      "imports": [
        "z-index/_highest.scss",
        "z-index/_high.scss",
        "z-index/_medium-high.scss",
        "z-index/_medium.scss",
        "z-index/_medium-low.scss",
        "z-index/_low.scss"
      ]
    },
    {
      "path": "main.scss",
      "imports": [
        "_variables.scss",
        "_fonts.scss",
        "../../Shared/scss/main-shared.scss",
        "_vendor.scss",
        "_overrides.scss",
        "_helpers.scss",
        "_base.scss",
        "_layout.scss",
        "_components.scss",
        "_z-index.scss",
        "variables/_color.scss",
        "variables/_back-to-top.scss",
        "variables/_font.scss",
        "variables/_typography.scss",
        "variables/_button.scss",
        "variables/_footer.scss",
        "variables/_form.scss",
        "variables/_desktop.scss",
        "variables/_tablet.scss",
        "variables/_loading.scss",
        "variables/_mobile.scss",
        "variables/_navbar.scss",
        "variables/_misc.scss",
        "variables/_trip.scss",
        "variables/_video.scss",
        "variables/_logo-area.scss",
        "variables/_card.scss",
        "variables/_expanded-arrow.scss",
        "variables/_expandable-card.scss",
        "variables/_table.scss",
        "variables/_kwa.scss",
        "../../Shared/scss/_variables-shared.scss",
        "../../Shared/scss/_utilities-shared.scss",
        "../../Shared/scss/_bootstrap.scss",
        "../../Shared/scss/_components-shared.scss",
        "../../Shared/scss/_overrides-shared.scss",
        "../../Shared/scss/_helpers-shared.scss",
        "vendor/_owl-carousel.scss",
        "overrides/_owl-carousel.scss",
        "helpers/_apt-common-classes.scss",
        "helpers/_backgrounds.scss",
        "helpers/_colors.scss",
        "helpers/_hr.scss",
        "helpers/_text.scss",
        "base/_global.scss",
        "base/_normalize.scss",
        "base/_typography.scss",
        "layout/_content.scss",
        "layout/_body.scss",
        "layout/_footer.scss",
        "layout/_header.scss",
        "components/_accordion.scss",
        "components/_brochures.scss",
        "components/_button.scss",
        "components/_button-bar.scss",
        "components/_card.scss",
        "components/_carousel.scss",
        "components/_feature-panel.scss",
        "components/_footer.scss",
        "components/_forms.scss",
        "components/_global-navigation.scss",
        "components/_grid.scss",
        "components/_hotspots.scss",
        "components/_logo-area.scss",
        "components/_menu.scss",
        "components/_messages.scss",
        "components/_modal.scss",
        "components/_natural-language.scss",
        "components/_navbar.scss",
        "components/_rich-text.scss",
        "components/_search.scss",
        "components/_site-hero.scss",
        "components/_special-deals.scss",
        "components/_tab.scss",
        "components/_trip-tabs.scss",
        "components/_trip.scss",
        "components/_trip-inclusions.scss",
        "components/_trip-page.scss",
        "components/_trip-navigation.scss",
        "components/_trip-intro.scss",
        "components/_trip-highlights.scss",
        "components/_trip-travelandaccommodation.scss",
        "components/_trip-testimonials.scss",
        "components/_quicksearch.scss",
        "components/_booking-funnel.scss",
        "components/_quicksearch-hero.scss",
        "components/carousel/_quicksearch-hero-carousel.scss",
        "z-index/_highest.scss",
        "z-index/_high.scss",
        "z-index/_medium-high.scss",
        "z-index/_medium.scss",
        "z-index/_medium-low.scss",
        "z-index/_low.scss",
        "../../Shared/scss/variables-shared/_breakpoints.scss",
        "../../Shared/scss/variables-shared/_grid.scss",
        "../../Shared/scss/variables-shared/_spacing.scss",
        "../../Shared/scss/variables-shared/_captcha.scss",
        "../../Shared/scss/variables-shared/_focus.scss",
        "../../Shared/scss/variables-shared/_colors.scss",
        "../../Shared/scss/utilities-shared/_media-queries.scss",
        "../../Shared/scss/utilities-shared/_grid-mixins.scss",
        "../../Shared/scss/utilities-shared/_mixins.scss",
        "../../Shared/scss/utilities-shared/_placeholders.scss",
        "../../Shared/scss/utilities-shared/_card.scss",
        "../../Shared/scss/utilities-shared/_expanded-arrow.scss",
        "../../Shared/scss/utilities-shared/_animations.scss",
        "../../Shared/scss/utilities-shared/_rem.scss",
        "../../Shared/scss/utilities-shared/_z-index.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_variables.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_mixins.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_normalize.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_print.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_glyphicons.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_scaffolding.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_type.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_code.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_grid.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_tables.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_forms.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_buttons.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_carousel.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_component-animations.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_dropdowns.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_button-groups.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_input-groups.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_modals.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_navs.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_navbar.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_panels.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_breadcrumbs.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_pagination.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_pager.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_labels.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_badges.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_jumbotron.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_thumbnails.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_alerts.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_progress-bars.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_media.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_list-group.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_responsive-embed.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_wells.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_close.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_tooltip.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_popovers.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_utilities.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/_responsive-utilities.scss",
        "../../Shared/scss/components-shared/_grid.scss",
        "../../Shared/scss/components-shared/_forms.scss",
        "../../Shared/scss/components-shared/_table.scss",
        "../../Shared/scss/components-shared/_back-to-top.scss",
        "../../Shared/scss/components-shared/_badge.scss",
        "../../Shared/scss/components-shared/_booking-funnel.scss",
        "../../Shared/scss/components-shared/_button.scss",
        "../../Shared/scss/components-shared/_footer.scss",
        "../../Shared/scss/components-shared/_lists.scss",
        "../../Shared/scss/components-shared/_loading.scss",
        "../../Shared/scss/components-shared/_modal.scss",
        "../../Shared/scss/components-shared/_navbar.scss",
        "../../Shared/scss/components-shared/_trip.scss",
        "../../Shared/scss/components-shared/_video.scss",
        "../../Shared/scss/components-shared/_card.scss",
        "../../Shared/scss/components-shared/_rich-text.scss",
        "../../Shared/scss/components-shared/_feature-panel.scss",
        "../../Shared/scss/components-shared/_hero.scss",
        "../../Shared/scss/components-shared/_lifestyle.scss",
        "../../Shared/scss/components-shared/_journey-overview.scss",
        "../../Shared/scss/components-shared/_debug.scss",
        "../../Shared/scss/components-shared/_tooltip.scss",
        "../../Shared/scss/overrides-shared/_bootstrap.scss",
        "../../Shared/scss/overrides-shared/_owl-carousel.scss",
        "../../Shared/scss/helpers-shared/_animation-classes.scss",
        "../../Shared/scss/helpers-shared/_common-classes.scss",
        "../../Shared/scss/helpers-shared/_overlays.scss",
        "../../Shared/scss/helpers-shared/_z-index.scss",
        "../../Shared/scss/helpers-shared/_responsive-helpers.scss",
        "../../Shared/scss/helpers-shared/_media.scss",
        "components/brochures/_brochure-listing.scss",
        "components/brochures/_featured-brochure.scss",
        "components/brochures/_brochure-modal.scss",
        "components/brochures/_brochure-request.scss",
        "components/button-bar/_button-bar.scss",
        "components/card/_trip-card.scss",
        "components/card/_expandable-card.scss",
        "components/carousel/_trip-carousel.scss",
        "components/carousel/_brochure-carousel.scss",
        "components/carousel/_gallery-carousel.scss",
        "components/carousel/_mobile-carousel.scss",
        "components/footer/_footer-accreditations.scss",
        "components/footer/_footer-bar.scss",
        "components/footer/_footer-social.scss",
        "components/forms/elements/_forms.scss",
        "components/forms/elements/_checkboxes-and-radio.scss",
        "components/forms/elements/_select.scss",
        "components/forms/_trip-search.scss",
        "components/forms/_phoenix-form.scss",
        "components/forms/_brochure.scss",
        "components/forms/_contact.scss",
        "components/forms/_events-form.scss",
        "components/forms/_newsletter-subscription.scss",
        "components/forms/_session.scss",
        "components/global-nav/_global-nav.scss",
        "components/global-nav/_global-nav-search.scss",
        "components/global-nav/_login-cta.scss",
        "components/hotspots/_hotspots.scss",
        "components/menu/_modal-menu.scss",
        "components/menu/_popup-menu.scss",
        "components/messages/_browser-warning.scss",
        "components/messages/_cookie-disclaimer.scss",
        "components/messages/_notification.scss",
        "components/modal/_modal.scss",
        "components/modal/_modal-trip-terms.scss",
        "components/modal/_modal-video.scss",
        "components/natural-language/_nl.scss",
        "components/navbar/_nav-mobile.scss",
        "components/navbar/_nav-sticky.scss",
        "components/navbar/_navbar-collapse.scss",
        "components/navbar/_navbar-explore-trips.scss",
        "components/navbar/_navbar-desktop.scss",
        "components/navbar/_navbar-desktop-dropdown.scss",
        "components/navbar/_navbar-nav.scss",
        "components/search/_site-search.scss",
        "components/search/_search-page.scss",
        "components/site-hero/_site-hero.scss",
        "components/site-hero/_homepage-hero-modal.scss",
        "components/trip/_trips.scss",
        "components/trip/_trip-card-listing.scss",
        "components/trip/_trip-finder.scss",
        "components/trip/_trip-travelandaccommodation.scss",
        "components/trip/_trip-highlights.scss",
        "components/trip/_trip-map.scss",
        "components/trip/_trip-priceandbooking.scss",
        "components/trip/_trip-quickviewbrochure.scss",
        "components/trip/_trip-similartrips.scss",
        "components/trip/_trip-print.scss",
        "components/trip/_featured-trips.scss",
        "components/trip/_trip-filter-overlay.scss",
        "components/trip/_trip-filter-form.scss",
        "components/booking-funnel/_booking-layout.scss",
        "components/booking-funnel/_booking-navigation.scss",
        "components/booking-funnel/_booking-tips-hints.scss",
        "components/booking-funnel/_booking-form.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_hide-text.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_opacity.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_image.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_labels.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_reset-filter.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_resize.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_responsive-visibility.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_size.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_tab-focus.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_reset-text.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_text-emphasis.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_text-overflow.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_vendor-prefixes.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_alerts.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_buttons.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_panels.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_pagination.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_list-group.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_nav-divider.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_forms.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_progress-bar.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_table-row.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_background-variant.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_border-radius.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_gradients.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_clearfix.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_center-block.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_nav-vertical-align.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_grid-framework.scss",
        "../../Shared/scss/bootstrap/stylesheets/bootstrap/mixins/_grid.scss",
        "../../Shared/scss/components-shared/forms/_checkboxes-and-radio.scss",
        "../../Shared/scss/components-shared/forms/_payment-gateway.scss",
        "../../Shared/scss/components-shared/booking-funnel/_booking-layout.scss",
        "../../Shared/scss/components-shared/booking-funnel/_booking-navigation.scss",
        "../../Shared/scss/components-shared/booking-funnel/_booking-carousel.scss",
        "../../Shared/scss/components-shared/booking-funnel/_booking-form.scss",
        "../../Shared/scss/components-shared/booking-funnel/_booking-tips-hints.scss",
        "../../Shared/scss/components-shared/footer/_footer-contact.scss",
        "../../Shared/scss/components-shared/footer/_footer-cta.scss",
        "../../Shared/scss/components-shared/footer/_footer-nav.scss",
        "../../Shared/scss/components-shared/modal/_modal.scss",
        "../../Shared/scss/components-shared/modal/_modal-surcharges.scss",
        "../../Shared/scss/components-shared/navbar/_hamburger-icon.scss",
        "../../Shared/scss/components-shared/navbar/_nav-mobile-header.scss",
        "../../Shared/scss/components-shared/navbar/_nav-mobile-footer.scss",
        "../../Shared/scss/components-shared/trip/_trip-itinerary.scss",
        "../../Shared/scss/components-shared/trip/_trip-priceandbooking.scss",
        "../../Shared/scss/components-shared/trip/_trip-travel-styles.scss",
        "../../Shared/scss/components-shared/trip/_trip-pdf.scss",
        "../../Shared/scss/components-shared/card/_expandable-card.scss",
        "../../Shared/scss/components-shared/lifestyle/_lifestyle.scss",
        "../../Shared/scss/components-shared/lifestyle/_lifestyle--carousel.scss"
      ]
    },
    {
      "path": "components/_booking-funnel.scss",
      "imports": [
        "components/booking-funnel/_booking-layout.scss",
        "components/booking-funnel/_booking-navigation.scss",
        "components/booking-funnel/_booking-tips-hints.scss",
        "components/booking-funnel/_booking-form.scss"
      ]
    },
    {
      "path": "components/_brochures.scss",
      "imports": [
        "components/brochures/_brochure-listing.scss",
        "components/brochures/_featured-brochure.scss",
        "components/brochures/_brochure-modal.scss",
        "components/brochures/_brochure-request.scss"
      ]
    },
    {
      "path": "components/_button-bar.scss",
      "imports": [
        "components/button-bar/_button-bar.scss"
      ]
    },
    {
      "path": "components/_card.scss",
      "imports": [
        "components/card/_trip-card.scss",
        "components/card/_expandable-card.scss"
      ]
    },
    {
      "path": "components/_carousel.scss",
      "imports": [
        "components/carousel/_trip-carousel.scss",
        "components/carousel/_brochure-carousel.scss",
        "components/carousel/_gallery-carousel.scss",
        "components/carousel/_mobile-carousel.scss",
        "components/carousel/_quicksearch-hero-carousel.scss"
      ]
    },
    {
      "path": "components/_footer.scss",
      "imports": [
        "components/footer/_footer-accreditations.scss",
        "components/footer/_footer-bar.scss",
        "components/footer/_footer-social.scss"
      ]
    },
    {
      "path": "components/_forms.scss",
      "imports": [
        "components/forms/elements/_forms.scss",
        "components/forms/elements/_checkboxes-and-radio.scss",
        "components/forms/elements/_select.scss",
        "components/forms/_trip-search.scss",
        "components/forms/_phoenix-form.scss",
        "components/forms/_brochure.scss",
        "components/forms/_contact.scss",
        "components/forms/_events-form.scss",
        "components/forms/_newsletter-subscription.scss",
        "components/forms/_session.scss"
      ]
    },
    {
      "path": "components/_global-navigation.scss",
      "imports": [
        "components/global-nav/_global-nav.scss",
        "components/global-nav/_global-nav-search.scss",
        "components/global-nav/_login-cta.scss"
      ]
    },
    {
      "path": "components/_hotspots.scss",
      "imports": [
        "components/hotspots/_hotspots.scss"
      ]
    },
    {
      "path": "components/_menu.scss",
      "imports": [
        "components/menu/_modal-menu.scss",
        "components/menu/_popup-menu.scss"
      ]
    },
    {
      "path": "components/_messages.scss",
      "imports": [
        "components/messages/_browser-warning.scss",
        "components/messages/_cookie-disclaimer.scss",
        "components/messages/_notification.scss"
      ]
    },
    {
      "path": "components/_modal.scss",
      "imports": [
        "components/modal/_modal.scss",
        "components/modal/_modal-trip-terms.scss",
        "components/modal/_modal-video.scss"
      ]
    },
    {
      "path": "components/_natural-language.scss",
      "imports": [
        "components/natural-language/_nl.scss"
      ]
    },
    {
      "path": "components/_navbar.scss",
      "imports": [
        "components/navbar/_nav-mobile.scss",
        "components/navbar/_nav-sticky.scss",
        "components/navbar/_navbar-collapse.scss",
        "components/navbar/_navbar-explore-trips.scss",
        "components/navbar/_navbar-desktop.scss",
        "components/navbar/_navbar-desktop-dropdown.scss",
        "components/navbar/_navbar-nav.scss"
      ]
    },
    {
      "path": "components/_search.scss",
      "imports": [
        "components/search/_site-search.scss",
        "components/search/_search-page.scss"
      ]
    },
    {
      "path": "components/_site-hero.scss",
      "imports": [
        "components/site-hero/_site-hero.scss",
        "components/site-hero/_homepage-hero-modal.scss"
      ]
    },
    {
      "path": "components/_trip.scss",
      "imports": [
        "components/trip/_trips.scss",
        "components/trip/_trip-card-listing.scss",
        "components/trip/_trip-finder.scss",
        "components/trip/_trip-travelandaccommodation.scss",
        "components/trip/_trip-highlights.scss",
        "components/trip/_trip-map.scss",
        "components/trip/_trip-priceandbooking.scss",
        "components/trip/_trip-quickviewbrochure.scss",
        "components/trip/_trip-similartrips.scss",
        "components/trip/_trip-print.scss",
        "components/trip/_featured-trips.scss",
        "components/trip/_trip-filter-overlay.scss",
        "components/trip/_trip-filter-form.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}